ECS_RESERVED_MEMORY=512
ECS_RESERVED_PORTS=[22, 2375, 2376, 51678, 51679]
AWS_ACCESS_KEY_ID=YOUR_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_KEY_HERE
ECS_LOGFILE=/ecs-agent.log
ECS_ENGINE_TASK_CLEANUP_WAIT_DURATION=1m
ECS_CONTAINER_STOP_TIMEOUT=5m
ECS_CONTAINER_START_TIMEOUT=10m
ECS_IMAGE_CLEANUP_INTERVAL=2h
ECS_NUM_IMAGES_DELETE_PER_CYCLE=15
ECS_IMAGE_PULL_BEHAVIOR=prefer-cached
